.archive {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	z-index: 4;
	padding: 20px;
	background-color: white;
	opacity: 0;
	pointer-events: none;
	cursor: url(../images/arrow/cursor-black.svg), auto;
	transition: 400ms opacity ease;
	&.visible {
		opacity: 1;
		pointer-events: all;
	}
	.title {
		color: black;
	}
}

.archive__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 20px;
	align-content: center;
	align-items: center;
	margin: 0 -10px;

	@media (min-width: 800px) {
	}

	@media (min-width: 1200px) {
		padding-top: 50px;
	}
}

.archive__project {
	width: 33.3%;
	padding: 0 10px;
	margin-bottom: 25px;
	transition: 400ms opacity ease;
	opacity: 0.5;

	video {
		max-width: 100%;
	}

	@media (min-width: 800px) {
		width: 25%;
		&:hover {
			opacity: 1;
		}
	}

	@media (min-width: 1200px) {
		width: 12.5%;
	}
}

.archive__footer {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}
