.archive {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	z-index: 4;
	padding: 20px;
	background-color: white;
	opacity: 0;
	pointer-events: none;
	cursor: url(../images/arrow/cursor-black.svg), auto;
	transition: 400ms opacity ease;
	&.visible {
		opacity: 1;
		pointer-events: all;
	}
}
.archive__header {
	display: flex;
	justify-content: space-between;

	button {
		background-color: transparent;
		font-family: inherit;
		text-transform: uppercase;
		padding: 0;
		border: none;
		font-size: 1em;
		cursor: url(../images/arrow/cursor-black.svg), auto;
		transition: 400ms opacity ease;

		&:hover {
			opacity: 0.5;
		}

		&:focus,
		&:visited {
			outline: 1px dotted black;
		}
	}
}

.archive__nav {
	button {
		margin-right: 25px;
	}
}

.archive__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 20px;

	@media (min-width: 1200px) {
		padding-top: 50px;
	}
}

.archive__project {
	width: 33.3%;

	@media (min-width: 800px) {
		width: 25%;
	}

	@media (min-width: 1200px) {
		max-width: 300px;
	}
}
