body,
html {
	-webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	@include font;
}

img {
	max-width: 100%;
	width: 100%;
}

button {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.portfolio {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	cursor: url(../images/arrow/cursor-black.svg), auto;
	transition: 0.25s cursor linear;
	.left,
	.right {
		z-index: 2;
		border: none;
		background-color: transparent;
		cursor: url(../images/arrow/cursor-black.svg), auto;
		width: 50%;
		padding: 0;
		.circle {
			height: 8px;
			width: 8px;
			border-radius: 50%;
			background-color: black;
			box-sizing: border-box;
			transition: 0.25s background-color linear;
		}
		&:focus {
			outline: 1px solid transparent;
		}
	}
	.left {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		padding-left: 20px;
	}
	.right {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		text-align: right;
		padding-right: 20px;
		.circle {
			margin-left: auto;
		}
	}

	.title {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0;
		text-align: center;
		display: flex;
		width: max-content;

		z-index: 1000;

		button {
			text-transform: uppercase;
			text-decoration: none;
			padding: 0;
			margin: 0;
			padding: 25px 0;
			margin-right: 1.25em;
			@media (min-width: 1024px) {
				padding: 10px 0;
			}
			color: black;
			transition: 0.25s color ease;
			cursor: url(../images/arrow/cursor-black.svg), auto;
			@include font;
		}
		a {
			display: flex;
			@media (min-width: 1024px) {
				padding-left: 0;
			}
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}
		button {
			@media (min-width: 1024px) {
				padding-right: 0;
			}
			background-color: transparent;
			@include font;
			font-size: 1em;
			border: none;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			&:focus {
				outline: 1px solid transparent;
			}
		}
		// }
	}
	.footer {
		.hover {
			cursor: url(../images/arrow/cursor-black.svg), auto;
		}
	}
	header.information {
		p {
			a {
				cursor: url(../images/arrow/cursor-white.svg), auto;
			}
		}
	}

	&.fullscreen {
		cursor: url(../images/arrow/cursor-white.svg), auto;
		.title {
			button {
				color: white;
				cursor: url(../images/arrow/cursor-white.svg), auto;
			}
		}
		.title--index {
			button {
				color: black;
				cursor: url(../images/arrow/cursor-black.svg), auto;
			}
		}
		.left,
		.right {
			cursor: url(../images/arrow/cursor-white.svg), auto;
			.circle {
				background-color: white;
			}
		}
		.footer {
			.hover {
				cursor: url(../images/arrow/cursor-white.svg), auto;
			}
		}
	}

	&#information {
		.title {
			cursor: url(../images/arrow/cursor-black.svg), auto;
			h1,
			button,
			a {
				cursor: url(../images/arrow/cursor-black.svg), auto;
				color: black;
			}
		}
		.footer {
			color: black;
			.circle {
				background-color: black;
			}
			.credits {
				display: none;
				a {
					cursor: url(../images/arrow/cursor-white.svg), auto;
				}
			}
			.information {
				display: flex;
			}
		}
	}
	&.information {
		.hover {
			padding-left: 30px;
		}
	}
}
