@import url("https://use.typekit.net/jan4ryt.css");

$neue-haas-unica : 'neue-haas-unica', 'Helvetica', sans-serif;

body {
    font-family: $neue-haas-unica;
    font-size: 11px;
    line-height: 15px;
    @media (min-width: 768px) {
        font-size: 14px;
        line-height: 18px;
    }
}

.portfolio {
    min-height: 100vh;
    .title {
        position: fixed;
        top: 50%;
        text-align: center;
        left: 25%;
        right: 25%;
        @media (min-width: 768px) {
            left: 45%;
            right: 45%;
        }
        display: flex;
        justify-content: space-between;
        h1, button{
            text-transform: uppercase;
        }
        button {
            cursor: pointer;
            font-size: 1em;
            border: none;
            background-color: transparent;
            &:focus {
                outline: 1px solid transparent;
            }
        }
        

    }
}