@font-face {
  font-family: "Unica77LLWeb-Medium";
  src: url("../../font/Unica77LLWeb-Medium.woff2") format("woff2"),
    url("../../font/Unica77LLWeb-Medium.woff") format("woff"),
    url("../../font/Unica77LLSub-MediumSubset.woff2") format("woff2"),
    url("../../font/Unica77LLSub-MediumSubset.woff") format("woff");
}


@mixin haas {
    font-family: "Unica77LLWeb-Medium", Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 15px;
    // @media (min-width: 768px) {
    //     font-size: 14px;
    //     line-height: 18px;
    // }
}

body {
    @include haas;
}

.portfolio {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
    .title {
        position: fixed;
        top: 50%;
        text-align: center;
        left: 0;
        right: 0;
        display: flex;
        z-index: 2;
        .title-container {
            margin: 0 auto;
            display: flex;

            h1, button{
                text-transform: uppercase;
                padding: 0;
                margin: 0;
                cursor: default;
            }
            h1 {
                margin-right: 2em;
            }
            button {
                cursor: pointer;
                background-color: transparent;
                @include haas;
                font-size: 1em;
                border: none;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                &:focus {
                    outline: 1px solid transparent;
                }
            }
        }
    }

    &.fullscreen {
        header.information {
            color: white;
            a:hover {
                color: black;
            }
        }
        .title {
            h1, button {
                color: white;
            }
        }
    }
}