@font-face {
  font-family: "Unica77LLWeb-Medium";
  src: url("../../font/Unica77LLWeb-Medium.woff2") format("woff2"),
    url("../../font/Unica77LLWeb-Medium.woff") format("woff"),
    url("../../font/Unica77LLSub-MediumSubset.woff2") format("woff2"),
    url("../../font/Unica77LLSub-MediumSubset.woff") format("woff");
}

@mixin haas {
  font-family: "Unica77LLWeb-Medium", Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 15px;
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    font-size: 10px;
  }
}

body,
html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  @include haas;
}

img {
  max-width: 100%;
  width: 100%;
}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.portfolio {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  cursor: url(../../images/arrow/cursor-black.svg), auto;
  transition: 0.25s cursor linear;
  .left,
  .right {
    z-index: 4;
    border: none;
    background-color: transparent;
    width: 27.5%;
    cursor: url(../../images/arrow/cursor-black.svg), auto;
    @media (min-width: 768px) {
      width: 33%;
    }
    @media (min-width: 1024px) {
      width: 42.5%;
    }
    &:focus {
      outline: 1px solid transparent;
    }
  }
  .left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }
  .right {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .title {
    position: fixed;
    top: 50%;
    text-align: center;
    left: 0;
    right: 0;
    display: flex;
    z-index: 2;
    .title-container {
      margin: 0 auto;
      display: flex;
      z-index: 5;

      h1,
      button {
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        padding: 25px 0;
        color: black;
        transition: 0.25s color linear;
        cursor: url(../../images/arrow/cursor-black.svg), auto;
        @include haas;
      }
      h1 {
        margin-right: 1.25em;
        padding-left: 25px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      button {
        padding-right: 25px;
        margin-left: 1.25em;
        background-color: transparent;
        @include haas;
        font-size: 1em;
        border: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        &:focus {
          outline: 1px solid transparent;
        }
      }
    }
  }
  .footer {
    .hover {
      cursor: url(../../images/arrow/cursor-black.svg), auto;
    }
  }

  &.fullscreen {
    cursor: url(../../images/arrow/cursor-white.svg), auto;
    header.information {
      color: white;
      a {
        color: inherit;
        &:hover {
          color: black;
        }
      }
    }
    .title {
      h1,
      button {
        color: white;
        cursor: url(../../images/arrow/cursor-white.svg), auto;
      }
    }
    .left,
    .right {
      cursor: url(../../images/arrow/cursor-white.svg), auto;
    }
    .footer {
      .hover {
        cursor: url(../../images/arrow/cursor-white.svg), auto;
      }
    }
  }
}
