@font-face {
  font-family: "Unica77LLWeb-Medium";
  src: url("../../font/Unica77LLWeb-Medium.woff2") format("woff2"),
    url("../../font/Unica77LLWeb-Medium.woff") format("woff"),
    url("../../font/Unica77LLSub-MediumSubset.woff2") format("woff2"),
    url("../../font/Unica77LLSub-MediumSubset.woff") format("woff");
}


@mixin haas {
    font-family: "Unica77LLWeb-Medium", Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 15px;
    // @media (min-width: 768px) {
    //     font-size: 14px;
    //     line-height: 18px;
    // }
}

body {
    @include haas;
}

img {
    max-width: 100%;
    width: 100%;
}

button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.portfolio {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .left,
    .right {
        z-index: 4;
        border: none;
        background-color: transparent;
        width: 27.5%;
        @media (min-width: 768px) {
            width: 33%;
        }
        @media (min-width: 1024px) {
            width: 42.5%;
        }
        &:focus {
            outline: 1px solid transparent;
        }
    }
    .left {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        cursor: w-resize;
    }
    .right {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        
        cursor: e-resize;
    }
    
    .title {
        position: fixed;
        top: 50%;
        text-align: center;
        left: 0;
        right: 0;
        display: flex;
        z-index: 2;
        .title-container {
            margin: 0 auto;
            display: flex;
            z-index: 5;

            h1, button{
                text-transform: uppercase;
                padding: 0;
                margin: 0;
                cursor: default;
                padding: 25px 0;
            }
            h1 {
                margin-right: 2em;
                padding-left: 25px;
            }
            button {
                padding-right: 25px;
                cursor: pointer;
                background-color: transparent;
                @include haas;
                font-size: 1em;
                border: none;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                &:focus {
                    outline: 1px solid transparent;
                }
            }
        }
    }

    &.fullscreen {
        header.information {
            color: white;
            a:hover {
                color: black;
            }
        }
        .title {
            h1, button {
                color: white;
            }
        }
    }
}