@font-face {
  font-family: "Unica77LLWeb-Medium";
  src: url("../../font/Unica77LLWeb-Medium.woff2") format("woff2"),
    url("../../font/Unica77LLWeb-Medium.woff") format("woff"),
    url("../../font/Unica77LLSub-MediumSubset.woff2") format("woff2"),
    url("../../font/Unica77LLSub-MediumSubset.woff") format("woff");
}

@mixin haas {
  font-family: "Unica77LLWeb-Medium", Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 15px;
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    font-size: 10px;
  }
}

body,
html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  @include haas;
}

img {
  max-width: 100%;
  width: 100%;
}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.portfolio {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  cursor: url(../../images/arrow/cursor-black.svg), auto;
  transition: 0.25s cursor linear;
  .left,
  .right {
    z-index: 2;
    border: none;
    background-color: transparent;
    cursor: url(../../images/arrow/cursor-black.svg), auto;
    width: 50%;
    padding: 0;
    .circle {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: black;
      box-sizing: border-box;
      transition: 0.25s background-color linear;
    }
    &:focus {
      outline: 1px solid transparent;
    }
  }
  .left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding-left: 10px;
  }
  .right {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: right;
    padding-right: 10px;
    .circle {
      margin-left: auto;
    }
  }

  .title {
    position: fixed;
    top: calc(50% - 31px);
    @media (min-width: 1024px) {
      top: 50%;
    }
    text-align: center;
    left: 20%;
    right: 20%;
    display: flex;
    @media (min-width: 768px) {
      left: 35%;
      right: 35%;
    }
    @media (min-width: 1024px) {
      left: 42%;
      right: 42%;
    }
    z-index: 3;
    .title-container {
      margin: 0 auto;
      display: flex;

      h1,
      button {
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        padding: 25px 0;
        @media (min-width: 1024px) {
          padding: 10px 0;
        }
        color: black;
        transition: 0.25s color linear;
        cursor: url(../../images/arrow/cursor-black.svg), auto;
        @include haas;
      }
      h1 {
        margin-right: 1.25em;
        padding-left: 25px;
        @media (min-width: 1024px) {
          padding-left: 0;
        }
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      button {
        margin-left: 1.25em;
        padding-right: 25px;
        @media (min-width: 1024px) {
          padding-right: 0;
        }
        background-color: transparent;
        @include haas;
        font-size: 1em;
        border: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        &:focus {
          outline: 1px solid transparent;
        }
      }
    }
  }
  .footer {
    .hover {
      cursor: url(../../images/arrow/cursor-black.svg), auto;
    }
  }
  header.information {
    p {
      a {
        cursor: url(../../images/arrow/cursor-white.svg), auto;
      }
    }
  }

  &.fullscreen {
    cursor: url(../../images/arrow/cursor-white.svg), auto;
    .title {
      h1,
      button {
        color: white;
        cursor: url(../../images/arrow/cursor-white.svg), auto;
      }
    }
    .left,
    .right {
      cursor: url(../../images/arrow/cursor-white.svg), auto;
      .circle {
        background-color: white;
      }
    }
    .footer {
      .hover {
        cursor: url(../../images/arrow/cursor-white.svg), auto;
      }
    }
  }

  &#information {
    .title {
      cursor: url(../../images/arrow/cursor-black.svg), auto;
      h1,
      button {
        cursor: url(../../images/arrow/cursor-black.svg), auto;
        color: black;
      }
    }
    .footer {
      color: black;
      .circle {
        background-color: black;
      }
    }
  }
}
