.project-asset {
    &.fullscreen {
        
        video{
            
            position: fixed;
            left: -33vw;
            right: -33vw;
            bottom: 0;
            min-width: 100%; 
            min-height: 100%;
            @media (min-width: 768px) {
                left: -25vw;
                right: -25vw;
            }
            @media (min-width: 1024px) {
                left: 0;
                right: 0;
            }
        }
        img {
            position: fixed;
            top: 0;
            bottom: 0;
        }
    }
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
}