.project-asset {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: .5s opacity ease-in-out;
	opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    &.visible {
        opacity: 1;
    }
    @media (min-width: 1024px) {
        height: 100vh;
        position: relative;
    }
    .img-assets {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        max-width: 75%;
        margin: 0 auto;
        // overflow: hidden;
        @media (min-width: 1024px) {
            flex-direction: row;
            max-width: 90%;
        }
        .img-asset {
            display: none;
            margin-left: 50px;
            &:first-of-type {
                margin-left: 0;
            }
            @media (min-width: 1024px) {
                flex: 25%;
                max-width: 33.33%;
                width: 100%;
                display: block;
            }
            &.mobile {
                display: block;
            }
        }
    }
    &.fullscreen {
        
        video{
            
            position: fixed;
            left: -33vw;
            right: -33vw;
            top: 0;
            bottom: 0;
            min-width: 100%; 
            min-height: 100%;

            @media (min-width: 1024px) {
                left: 0;
                right: 0;
            }
        }
        img {
            position: fixed;
            top: 0;
            bottom: 0;
        }
    }
}