header.information {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.25s color linear, 0.25s opacity linear;
  opacity: 0;
  z-index: 1;
  text-align: center;
  cursor: url(../../images/arrow/cursor-black.svg), auto;
  // p {
  //   margin-bottom: 0.25rem;
  // }
  &.visible {
    opacity: 1;
    z-index: 3;
    p {
      z-index: 5;
    }
  }
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      transition: 0.25s color linear;
      color: #bababa;
    }
  }
}
