header.information {
	position: fixed;
    top: 10px;
    left: 10px;
	right: 10px;
	z-index: 1;
	transition: .25s color linear, .5s opacity ease-in-out;
	opacity: 0;
	z-index: 1;
	&.visible {
		opacity: 1;
		z-index: 5;
	}
	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			transition: .25s color linear;
			color: #BABABA ;
		}
	}
}