.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    color: inherit;
    text-align: center;
    &.fullscreen {
        color: white;
        .hover {
            .circle {
                background-color: white;
            }
        }
    }
    .credits {
        opacity: 0;
        transition: .25s opacity ease;
        display: flex;
        flex-direction: column;
        @media (min-width: 768px) {
            flex-direction: row;
            li {
                margin-right: 1em;
            }
            padding-bottom: 1em;
        }
        justify-content: center;
        &.visible {
            opacity: 1;
        }
        .name {
            text-transform: uppercase;
        }
        
    }
    .hover {
        -webkit-appearance: none;
        background-color: transparent;
        margin: 0 auto;
        padding: 0;
        border: none;
        cursor: pointer;
        padding: 15px;
        @media (min-width: 1024px) {
            padding: 5px 5px 10px 5px;
        }
        &:focus {
            outline: 1px solid transparent;
        }
        .circle {
            height: 1rem;
            width: 1rem;
            @media (min-width: 1024px) {
                height: .75rem;
                width: .75rem;
            }
            border-radius: 50%;
            background-color: black;
        }
    }
}