.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    color: inherit;
    text-align: center;
    &.fullscreen {
        color: white;
        .hover {
            background-color: white;
        }
    }
    .credits {
        opacity: 0;
        transition: .25s opacity ease;
        display: flex;
        flex-direction: column;
        @media (min-width: 768px) {
            flex-direction: row;
            li {
                margin-right: 1em;
            }
        }
        justify-content: center;
        padding-bottom: 1em;
        &.visible {
            opacity: 1;
        }
        .name {
            text-transform: uppercase;
        }
        
    }
    .hover {
        -webkit-appearance: none;
        height: .75rem;
        width: .75rem;
        border-radius: 50%;
        background-color: black;
        margin: 0 auto 1.5em;
        padding: 0;
        border: none;
        cursor: pointer;
        &:focus {
            outline: 1px solid transparent;
        }
    }
}